[submodule "src/luci-app-adguardhome"]
	path = src/luci-app-adguardhome
	url = https://github.com/xptsp/luci-app-adguardhome
[submodule "src/luci-app-nodogsplash"]
	path = src/luci-app-nodogsplash
	url = https://github.com/xptsp/luci-app-nodogsplash
[submodule "src/luci-app-squid-adv"]
	path = src/luci-app-squid-adv
	url = https://github.com/xptsp/luci-app-squid-adv
[submodule "src/luci-mod-listening-ports"]
	path = src/luci-mod-listening-ports
	url = https://github.com/xptsp/luci-mod-listening-ports
[submodule "src/bcrypt-tool"]
	path = src/bcrypt-tool
	url = https://github.com/xptsp/openwrt-bcrypt-tool
[submodule "src/peanut"]
	path = src/peanut
	url = https://github.com/xptsp/openwrt-peanut
[submodule "src/saned-initd"]
	path = src/saned-initd
	url = https://github.com/xptsp/openwrt-saned-initd
[submodule "src/privoxy-blocklist"]
	path = src/privoxy-blocklist
	url = https://github.com/xptsp/openwrt-privoxy-blocklist
[submodule "src/e2guardian"]
	path = src/e2guardian
	url = https://github.com/xptsp/openwrt-e2guardian
